{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    歡迎參加我們的實驗！
{% endblock %}

{% block content %}
<p>
各位好，歡迎參加我們的實驗。以下是我們的實驗說明，請詳閱!
</p>
<p>
    實驗一開始，我們會請每位參與者回答一系列的綜合知識考題，總共30題，限時10分鐘。作答結束後，電腦會依據大家的答題分數，分為五人一組，並在組內將每個人依分數高低排序，倘若得分相同則由電腦決定排名順序。
</p>
<p>
    根據各位的答題分數以及在組內的排序，我們提供各式不同的報酬分配模式，讓各組成員投票表決要用哪一種分配模式，並以此作為支付每一人實際實驗報酬的依據。
</p>
<p>
    在實驗中，你們將會看到以下的畫面。每一回合會有兩種分配報酬的模式（A）與（B），請大家投票決定，在兩者之間，要用哪一種方法分配組員們報酬。
</p>
<img src="{% static 'introduction.png' %}" alt="">

<p>
    畫面中，每一條柱狀代表一個人，柱狀的高度以及柱頂上圓圈圈內的數字代表報酬大小；淺紅色標記你的位置；淺藍色是其他組員。
</p>
<p>
    每一次投票都是請組內成員進行表決，在兩種分配模式之間選擇其中一個。經過一系列的投票之後，電腦將隨機選出其中1個回合的表決結果，根據該回合結果所選出的分配模式，依比例換算成各位今天的實際實驗報酬（出席費另計）
</p>
<img src="{% static 'introduction2.png' %}" alt="">
<button class="otree-btn-next btn btn-primary" id="next_button">開始答題</button>


<script src="{% static 'init.js' %}"></script>
{% endblock %}
