{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
理解測驗
{% endblock %}
{% block content %}
<style>
    img {
        height: 65vh;
    }
</style>
<h5 id="intro_title">閱讀完上述投票說明後，接下來有幾個問答題幫助你可以更理解實驗內容，此問答不會影響成績排名，請安心作答。</h5>
<br>
<h5 id="image_desc_1">請參考以下兩種分配小組成員實驗報酬的方式，淺紅色標記你的位置，淺藍色是其他組員：</h5>
<img src="/static/understanding/understand_1.png" style="width: 90%;height: auto" alt="First Image" id="image_1">
<h5 id="image_desc_2"></h5>
<img src="" style="width: 90%;height: auto; display: none" alt="Second Image" id="image_2">
<h5 id="image_desc_3">比較左右兩圖，請問：</h5>
<p id="question">Q1. 請問在哪一個分配中，你可以得到比較高的報酬？</p>
<br>
<div class="alert alert-warning" id="alert_info" style="display: none">
    <strong>答錯囉!</strong> 再好好想一次吧！
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="choose" id="left_button" value="left">
    <label class="form-check-label" for="left_button" id="left_button_label">
        原方案
    </label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="choose" id="right_button" value="right">
    <label class="form-check-label" for="right_button" id="right_button_label">
        新方案
    </label>
</div>
<br>
<br>
<div class="alert alert-success" id="explanation_info" style="display: none">
</div>
<button type="button" class="otree-btn-next btn btn-primary" disabled id="next_button">下一題</button>

<script>
    // expectVal = "left"
    const questionList = ["Q1. 請問在哪一個分配中，你可以得到比較高的報酬？",
        "Q2.請問哪一個分配報酬的方式比較平均？",
        "Q3. 請問在哪一個分配中，你可以得到比其他人更高的報酬？",
        "Q4. 請問在哪一個分配中，你的報酬排名較高?",
        "Q5. 在實驗的最後，有可能會是方案（C）作為今日支付實驗報酬的依據。",
        "Q6. 在實驗的最後，方案（B）與方案（C）有相同機率被選為支付今日實驗報酬的依據。"
    ]
    const imageList = [["/static/understanding/understand_1.png", ""],
        ["/static/understanding/understand_1.png", ""],
        ["/static/understanding/understand_1.png", ""],
        ["/static/understanding/understand_1.png", ""],
        ["/static/understanding/understand_2.png", "/static/understanding/understand_3.png"],
        ["/static/understanding/understand_2.png", "/static/understanding/understand_3.png"]
    ]
    const descList = [["請參考以下兩種分配小組成員實驗報酬的方式，淺紅色標記你的位置，淺藍色是其他組員：", "", "比較左右兩圖，請問："],
        ["請參考以下兩種分配小組成員實驗報酬的方式，淺紅色標記你的位置，淺藍色是其他組員：", "", "比較左右兩圖，請問："],
        ["請參考以下兩種分配小組成員實驗報酬的方式，淺紅色標記你的位置，淺藍色是其他組員：", "", "比較左右兩圖，請問："],
        ["請參考以下兩種分配小組成員實驗報酬的方式，淺紅色標記你的位置，淺藍色是其他組員：", "", "比較左右兩圖，請問："],
        ["假設你的小組經過投票後，選擇方案（A）與（B）的比例為2：3", "接著在下一輪投票中，選擇方案（C）與（D）的比例為3：2", "請回答以下問題（是非題）："],
        ["假設你的小組經過投票後，選擇方案（A）與（B）的比例為2：3", "接著在下一輪投票中，選擇方案（C）與（D）的比例為3：2", "請回答以下問題（是非題）："]
    ]
    const optionsList = [["原方案", "新方案"], ["原方案", "新方案"], ["原方案", "新方案"], ["原方案", "新方案"], ["是", "否"], ["是", "否"]]
    const answersList = ["right", "left", "left", "left", "left", "left"]
    const explanationList = ["說明: 在左邊你的報酬分配為$30，在右邊你的報酬分配為$100，故右邊你可以得到較高的報酬。",
        "說明: 在左邊的報酬範疇由最低5到最高40，在右邊的報酬範疇由最低100到最高300，故左邊分配報酬的方式比較平均。",
        "說明: 在左邊你的報酬排名為組內第2名，為組內中上的報酬；在右邊你的報酬排名為組內第5名，為組內最低的報酬，故左邊可以得到相較其他人更高的報酬。",
        "說明: 在左邊你的報酬排名為組內第2名，在右邊你的報酬排名為組內第5名，故左邊你的報酬排名較高。",
        "說明: 因為在第二輪的投票中，小組的選擇意願是C>D，故方案（C）為該回合的表決結果，可能成為今日支付實驗報酬的依據。",
        "說明: 經過一系列的投票之後，電腦將隨機選出其中1個回合的表決結果依比例換算成各位今天的實際實驗報酬，在上述兩回合的表決中，方案（B）與方案（C）為各自回合的表決結果，故具有相同機率被選為依據。"
    ]
</script>
<script>
    // $(".otree-title").text("測驗一：下列哪一個情況，完成任務並獲得滿分？")
    $(document).ready(function () {
        $(".debug-info").css("display", "none")
    })
</script>

<script src="{% static 'understanding/reselect.js' %}"></script>
{% endblock %}