{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    投票說明
{% endblock %}

{% block content %}
<p>
    接下來會有24個回合的投票，每一回合會有兩種分配報酬的方法（左）與（右）
</p>
<p>
    左為"與您排名順序相同的酬勞分配"，右為"新的酬勞分配"，請大家投票決定，在兩者之間要用哪一種方法分配組員們報酬。
</p>
<p>
    若有平票，則由電腦決定結果
</p>
<img src="{% static 'introduction.png' %}" alt="">
<p>
    畫面中，每一條柱狀代表一個人，柱狀的高度以及柱頂上圓圈圈內的數字代表報酬大小；淺紅色標記你的位置；淺藍色是其他組員。
</p>
<p>
    每一次投票都是請組內成員進行表決，在兩種分配模式之間選擇其中一個。經過一系列的投票之後，電腦將隨機選出其中1個回合的表決結果，根據該回合結果所選出的分配模式，依比例換算成各位今天的實際實驗報酬（出席費另計）
</p>
<img src="{% static 'introduction2.png' %}" alt="">
<button class="otree-btn-next btn btn-primary" id="next_button">開始投票</button>


<script src="{% static 'init.js' %}"></script>
{% endblock %}
