{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    分組結果
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'otree/css/theme.css' %}">
<link rel="stylesheet" href="{% static 'chart.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0-rc"></script>
    <p>
        根據綜合知識測驗結果，您的得分及組內排名為
    </p>
    <p>您的得分為 {{ score }}</p>
    <p>您的組內得分排名為 {{ rank }}</p>
<div id="chart_area">
    <div id="result_area">
        <canvas id="result" ></canvas>
    </div>
</div>

<button class="otree-btn-next btn btn-primary" id="next_button">下一步</button>
<script>
    $(document).ready(function () {
        $(".debug-info").remove();
    })
</script>
<script>
    division = "{{ division }}".split(", ")
    rank = {{ rank }}
    max_answer = parseInt(division[4]) + 1
</script>
<script src="{% static 'regroupResult.js' %}"></script>
{% endblock %}


